{% extends "bootstrap/base.html"%}
{% block styles %}
    {{super()}}
<style>
    ul{
        list-style:none
    }
</style>
{% endblock styles %}
{% block navbar%}
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">
            {% if g.user%}
                {{g.user.username}}
            {% else %}
                no name
            {%endif%}
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">iOS</a></li>
        <li><a href="#">SVN</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Java
                    <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
                    <li><a href="#">jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">分离的链接</a></li>
                    <li class="divider"></li>
                    <li><a href="#">另一个分离的链接</a></li>
                </ul>
        </li>
    </ul>
</nav>

{% with msg = get_flashed_messages()%}
{% if msg%}
<div class="alert alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
    </button>
    <div class="alert alert-info">
        {% for message in msg%}
            {{message}}
         {% endfor%}
    </div>

</div>
{% endif%}
{% endwith%}
{%endblock%}
