{% extends "bootstrap/base.html"%}
{% block styles %}
    {{super()}}
<style>
    ul{
        list-style:none
    }
</style>
{% endblock styles %}
{% block navbar%}
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">
            {% if g.user%}
                {{g.user.username}}
            {% else %}
                no name
            {%endif%}
        </a>
    </div>
</nav>

{% with msg = get_flashed_messages()%}
{% if msg%}
<div class="alert alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
    </button>
    <div class="alert alert-info">
        {% for message in msg%}
            {{message}}
         {% endfor%}
    </div>
</div>
{% endif%}
{% endwith%}
{%endblock%}
