{% extends "base.html"%}
{% block content%}
     <!--<table class="table table-responsive">-->
        <!--<thead>-->
            <!--<td>name</td>-->
            <!--<td>password</td>-->
            <!--<td>email</td>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--{% for u in users%}-->
            <!--<tr>-->
                <!--<td>{{u.username}}</td>-->
                <!--<td>{{u.password}}</td>-->
                <!--<td>{{u.email}}</td>-->
            <!--</tr>-->
        <!--{%endfor%}-->
        <!--</tbody>-->
    <!--</table>-->
<h1>main page!!!</h1>
{%endblock%}

